include layout
div.container#image-container
			h2= title
			p
				a#image-link(href= fname)= fname
			p
				img(src=fname, id='image', usemap='#tagmap')
				map(id='tagmap', shape='circle', name='tagmap')
					each tag in tags
						area.image-area(shape="circle", coords= tag.tag_x + ',' + tag.tag_y + ',' + 20, href='http://' + tag.link, title=tag.title, alt=tag.title)

			p
				button.btn.btn-primary(onclick="tagging.toggleTagMode()") Tag That Photo